.note {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px;
    height: 240px;
    width: 300px;
}

.box-btn-close {
    display: flex;
    background-color: transparent;
    width: fit-content;
    padding: 1px;
    border-radius: 50%;
}

.box-btn-close:hover {
    background-color: rgb(252, 156, 156);
}

.box-content {
    margin-top: 20px;
}

.box-btns {
    display: flex;
    justify-content: flex-end;
}

.box-btn-edit {
    display: flex;
    margin-right: 6px;
    border-radius: 50%;
    width: fit-content;
    padding: 1px;
    background-color: transparent;
}

.box-btn-edit:hover {
    background-color: #f3f09c;
}