main {
    background-color: lightgrey;
    display: flex;
    min-height: 100%;
}

aside {
    padding: 10px;
}

.inputTitle {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    max-width: 440px;
    max-height: 510px;
    min-height: 200px;
    min-width: 200px;
}

.box-textarea {
    margin: 15px 0;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #409ab8;
    color: white;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background-color: #1689af;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.note {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px;
    height: 240px;
    width: 300px;
}

.box-btn-close {
    display: flex;
    background-color: transparent;
    width: fit-content;
    margin-left: auto;
    padding: 1px;
    border-radius: 50%;
}

.box-btn-close:hover {
    background-color: rgb(252, 156, 156);
}

.box-content {
    margin-top: 20px;
}